.total-price {
  position: absolute;
  top: 20px;
  right: 20px;
  font-weight: bold;
}

.invoice-data {
  position: absolute;
  top: 5px;
  font-weight: bold;
}

.bi {
  margin-left: 8px;
  margin-right: 8px;
}

.link {
  color: black;
  text-decoration: none;
}

.link:hover {
  color:rgb(52, 152, 219);
}

.pagination {
  margin: 0 auto !important;
}

.amount-container {
  display: flex;
  align-items: center;
}

.invoice-details-amount{
  width: 80px;
}

.amount-container .svg-inline--fa {
  cursor: pointer;
}

.amount-container .svg-inline--fa:hover {
  color: rgb(52, 152, 219);
}

.pc-hide {
  display: none;
}

@media (max-width: 935px) {
  .total-price, .invoice-data {
    display: none;
  }

  tbody {
    height: 30px !important;
  }

  bi bi-minus{
    margin-top: 20px;
  }

  .invoice-table i.bi {
    margin-left: 2px; 
    margin-right: 2px; 
    display: inline-block; 
  }

  .invoice-details-amount{
    width: 65px;
  }

  .mobile-hide {
    display: none; 
  }

  .mobile-show {
    display: block;
  }
  
  .invoice-actions .btn:before {
    content: 'X';
  }
}