.content {
  max-height: 100px;
}
.search-bar {
  width: 120%; 
  max-width: 400px;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.search-bar input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 30px;
  margin-right: 10px;
  font-family: 'Courier New', monospace;
  font-weight: bold;
}

.search-bar button {
  padding: 8px 12px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Courier New', monospace;
  font-weight: bold;
}

.search-bar button:hover {
  background-color: #2980b9;
}

.search-bar-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.Item {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .search-bar {
    margin: 0 auto;
    padding: 8px; 
    max-width: 250px;
  }

  .search-bar input {
    padding: 6px; 
    margin-right: 3px;
  }

  .button-label {
    display: none;
  }

  .search-bar button {
    padding: 12px 12px;
    margin-right: 30%;
    background-color: white; 
    color: #3498db; 
    border: 2px solid #3498db; 
    border-radius: 30px;
  }

  .Item {
    margin-top: 5px; 
  }
}
