.search {
  width: 100%; 
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.searchInputs {
  flex-grow: 1;
  padding: 8px;
  border-radius: 30px;
  margin-right: 10px;
  font-family: 'Courier New', monospace;
  font-weight: bold;
}

.custom-input {
  border: none; 
  outline: none; 
  padding: 5px; 
  width: 100%;
}
.result {
  width: 100%;
  border-radius: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
}

.result p {
  margin: 0;
}

.button-sector {
  display: flex;
  flex-direction: row;
}

.result button {
  margin-left: 5% !important;
  border-radius: 30px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.input-number {
  width: 50%;
}

.form-control {
  width: 100% !important;
  border-radius: 30px !important;
}

.link {
  color: black;
  text-decoration: none;
}

.link:hover {
  color:rgb(52, 152, 219);
}