.search {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; 
  width: 100%; 
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.searchInputs {
  flex-grow: 1;
  padding: 8px;
  border-radius: 30px;
  margin-right: 10px;
  font-family: 'Courier New', monospace;
  font-weight: bold;
}

.custom-input {
  border: none; 
  outline: none; 
  padding: 5px; 
  width: 100%;
}
.result {
  border-radius: 30px;
  width: 100%; 
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
}

.result p {
  margin: 0;
}

.result button {
  border-radius: 30px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.form-control {
  border-radius: 30px !important;
  width: 20% !important;
  margin-right: 10px;
}
